---
import type { MDXInstance, MarkdownHeading } from "astro";
import type { DocsType } from "../../lib/types";

type Props = {
  pages: Array<MDXInstance<DocsType>>;
  currentPath: string;
  items: Array<MarkdownHeading>;
};

const { pages, currentPath, items } = Astro.props;

const filteredPages = pages.filter((p) => Boolean(p.frontmatter.category));

const sortedPages = filteredPages.sort((a, b) =>
  a.frontmatter.category.localeCompare(b.frontmatter.category, "en", {
    sensitivity: "base",
  })
);

const categories = [
  ...new Set(filteredPages.map((p) => p.frontmatter.category)),
];
---

<div
  class="px-12 md:px-24 lg:px-0 pt-8 shadow-inner lg:shadow-none transition-colors bg-main w-full"
>
  {
    categories.map((category) => (
      <>
        <h3 class="mt-4 mb-2 text-2xl font-semibold capitalize first:mt-0 lg:text-lg">
          {category}
        </h3>
        <ul
          aria-label={`Pages in ${category}`}
          class="text-lg lg:text-base"
        >
          {sortedPages
            .filter(
              ({ frontmatter }) => frontmatter.category === category
            )
            .map(({ frontmatter, url }) => (
              <div class="border-l-0">
                <li
                  aria-label={frontmatter.title}
                  class={`-ml-px py-1 pl-4 text-text-inactive transition-all hover:border-text-active  hover:text-text-active
                    ${
                      currentPath === url
                      ? "border-l-[2px] font-semibold border-text-active border-solid dark:text-text-active" : ""
                    }
                  `}
                >
                  <a href={url}>{frontmatter.title}</a>
                </li>

                <ul class="text-[14px] pl-4">
                  {currentPath === url &&
                    items.map(item => (
                      item.depth === 2 &&
                        <li class={`py-1 pl-3`}>
                          <a href={`${url}#${item.text.toLowerCase()}`}>{item.text}</a>
                        </li>
                    ))
                  }
                </ul>
              </div>
          ))}
        </ul>
      </>
    ))
  }
</div>
<a
  class="bg-black/20 backdrop-blur-sm select-none touch-manipulation"
  href="#"
  id="sidenav-close"
  title="Close Menu"
  aria-label="Close Menu"
  onchange="history.go(-1)"
></a>
