---
import Meta from "../component/Meta.astro";
import Navbar from "../component/navigation/Navbar.astro";
import Footer from "../component/navigation/Footer.astro";
import Sidenav from "../component/navigation/Sidenav.astro";

import { navbarItems, footerItems } from "../lib/data";

import type { MDXInstance } from "astro";
import type { DocsType } from "../lib/types";

const pages = (await Astro.glob("../pages/docs/*.mdx")) as Array<
  MDXInstance<DocsType>
>;

interface Props extends DocsType {
  url?: string;
}

const { title, category, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
      <Meta
          title={title}
          description={`${title} in ${category ?? "Home"}`}
          path={url}
      />
  </head>

  <body>
    <div
      id="container"
      class="flex min-h-screen max-w-7xl mx-auto transition-colors md:px-12 lg:gap-[80px]"
    >
      <aside
        aria-label="Sidebar navigation"
        id="sidenav-open"
        class="z-50 target:grid px-2 lg:px-0 lg:block grid-cols-[max-content_1fr] hidden absolute lg:translate-x-0 lg:sticky top-0 max-h-screen -translate-x-full target:translate-x-0 transition-transform lg:min-w-[140px] w-full lg:w-[140px] h-screen"
      >
        <Sidenav pages={pages} currentPath={url ?? ""} />
      </aside>
      <main
        aria-label="Main panel"
        class="max-w-[95vw] py-6 px-2 lg:px-0 mx-auto lg:w-[calc(100%-220px)]"
      >
        <Navbar items={navbarItems} />
        <slot />
        <Footer items={footerItems} />
      </main>
    </div>

    <style is:global>
      html,
      body {
        @apply scroll-smooth antialiased transition-colors bg-main text-text-active;
      }

      /** Side Navigation */
      #container {
        /* grid: 140px / 1fr [stack] 4fr; */
        grid: [stack] 1fr / 140px 1fr;
      }

      /* width */
      body::-webkit-scrollbar {
        @apply w-6
      }

      /* Track */
      body::-webkit-scrollbar-track {
        @apply bg-transparent
      }

      /* Handle */
      body::-webkit-scrollbar-thumb {
        @apply bg-text-inactive rounded-xl border-[9px] border-main border-solid
      }

      /* Handle on hover */
      body::-webkit-scrollbar-thumb:hover {
        @apply bg-text-active border-[8px]
      }

      @media (max-width: 1024px) {
        #container {
          grid: [stack] 1fr / min-content [stack] 1fr;
        }
        #container > * {
          grid-area: stack;
        }
      }
    </style>
  </body>
</html>
