---
import Base from "./Base.astro";
import TOC from "../component/TOC.astro";
import type { MDXLayoutProps } from "astro";
import type { DocsType } from "../lib/types";

type Props = MDXLayoutProps<DocsType>;

const {
  frontmatter: { title, category },
  url,
  headings,
} = Astro.props;
---

<Base title={title} category={category} url={url ?? "/"} items={headings}>
  <section
    aria-label="Main content"
    class="bg-content p-8 rounded-xl shadow-inner space-y-4 text-text-active"
  >
    <h1
      class={`font-bold ${
        !url ? "text-4xl md:text-6xl" : "text-2xl md:text-4xl"
      }`}
    >
      {title}
    </h1>

    <TOC items={headings} />

    <article
      aria-label="Post"
      id="article"
      class="dark:prose-invert max-w-none prose prose-p:leading-loose prose-li:leading-loose prose-headings:font-bold prose-headings:my-4"
    >
      <slot />
    </article>

    <a
      target="_blank"
      href={`https://github.com/ekqt/astrofordocs/blob/main/src/pages${
        url === "" ? "/index" : url
      }.mdx`}
      class="pt-4 block no-underline text-text-active"
    >
      If you notice an error in the documentation, please edit the page to fix it.
    </a>
  </section>
</Base>

<style is:global>
  .prose * > a {
    @apply border-b-2 border-slate-500 pb-1 no-underline transition-all hover:pb-2;
  }
  .prose pre {
    @apply p-5 drop-shadow-2xl;
  }

  #article {
    @apply text-teal-50
  }
  #article strong,
  #article a,
  #article h2,
  #article h3{
    @apply text-text-active
  }
  #article pre::-webkit-scrollbar {
    @apply w-6
  }

  /* Track */
  #article pre::-webkit-scrollbar-track {
    @apply bg-transparent
  }

  /* Handle */
  #article pre::-webkit-scrollbar-thumb {
    @apply bg-text-inactive rounded-xl border-[6px] border-[#0D1117] border-solid
  }

  /* Handle on hover */
  #article pre::-webkit-scrollbar-thumb:hover {
    @apply bg-text-active border-[4px]
  }
</style>
